<extend name="Public/base"/>

<block name="sidebar"></block>

<block name="style">
    <style>
        body{padding: 0}

        .parkitem{list-style:none;width:490px;padding:5px 0 5px 10px;}

        .gray {background:#ddd;}

        #nav_table{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            border-collapse: collapse;
        }

        #nav_table td{border: solid #ccc 1px;height: 65px;}
        #nav_table td a{display: block;padding: 10px 0;text-decoration: none;color: deepskyblue;}
        #nav_table td a:hover{color: #0000ff;background: gainsboro;}
    </style>
</block>

<block name="body">
    <!-- 主体 -->
    <div id="indexMain" class="index-main">
        <table id="nav_table" cellspacing="0">
            <tr>
                <td><a href="{:U(moneyReq)}">提现<br>申请</a></td>
                <td><a href="{:U(giftReq)}">兑换<br>申请</a></td>
                <td><a href="{:U(giftList)}">礼品<br>录入</a></td>
            </tr>
            <tr>
                <td><a href="{:U('Prom/index')}">推广员<br>管理</a></td>
                <td><a href="{:U('Giftpack/index')}">红包<br>管理</a></td>
                <td><a href="{:U('upfrontList')}">停车场<br>预付</a></td>
            </tr>
            <tr>
                <td><a href="{:U('orderList')}">订单<br>列表</a></td>
                <td><a href="{:U('Statistic/reorder')}" >二次<br>下单</a></td>
                <td><a href="{:U('autoSend')}" >自动<br>发红包</a></td>
            </tr>
        </table>
    </div>
</block>

<block name="script">
<script type="text/javascript">
    $(function(){
        $('.sidebar').remove();
    });
</script>
</block>