<extend name="Public/base"/>

<block name="style">
    <style>
        body{padding: 0}

    </style>
</block>

<block name="body">
    <!-- 主体 -->
        <div id="panel-1">
            <p style="width: 95%;margin: 10 auto;margin-top: 40px;text-align: center;color:red;">{$msg}</p>
            <form action="{:U('Index/modifyInfo')}" method="post">
                <table style="display: flex;width: 95%;margin: 10 auto;margin-top: 20px;text-align: center">
                    <tbody style="margin: 0 auto;">
                        <tr>
                            <td style="width: 38%"><label for="email">邮箱：</label></td>
                            <td style="width: 62%"><input type="text" id="email" name="email" value="{$adminInfo['email']}"/> </td>
                        </tr>
                        <tr>
                            <td style="width: 38%"><label for="telephone">电话：</label></td>
                            <td style="width: 62%"><input type="text" id="telephone" name="telephone" value="{$adminInfo['telephone']}"/> </td>
                        </tr>
                        <tr>
                            <td style="width: 38%"><label for="pwd1">密码：</label></td>
                            <td style="width: 62%"><input type="password" id="pwd1" name="pwd1" value=""/></td>
                        </tr>
                        <tr>
                            <td style="width: 38%"><label for="pwd2">确认密码：</label></td>
                            <td style="width: 62%"><input type="password" id="pwd2" name="pwd2" value=""/> </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" />
                            </td>
                            <td style="text-align: right">
                                <a href="{:U('Index/index')}">返回主页</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <br>

        </div>
</block>

<block name="script">
<script type="text/javascript">
    $(function(){

    });
</script>
</block>