<extend name="Public/base"/>

<block name="sidebar"></block>

<block name="style">
    <style>
        body{padding: 0}

        .moneyitem{list-style:none;width:490px;padding:5px 0 5px 10px;}

        .gray {background:#ddd;}
    </style>
</block>

<block name="body">
    <!-- 主体 -->
    <div id="indexMain" class="index-main">
        <h4>订单列表：</h4>
        <ul class="mui-table-view">
            <?php
            foreach ($orders as $key => $value) {
            $temp = "<li name='orderitem' class='mui-table-view-cell'>
            <p>车牌：".$value['carid']."</p>";
            $temp .= "<p>订单状态：".C('ORDER_STATE')[$value['state']]."</p>";
            if($value['state']>-1){
                $temp .=  "<p>下单时间：".$value['startime']."</p>";
                $temp .=  "<p>截止时间：".$value['endtime']."</p>";
            }
            if($value['state']>0){
                $temp .=  "<p>进场时间：".$value['entrytime']."</p>";
            }
            if($value['state']>2){
                $temp .=  "<p>离场时间：".$value['leavetime']."</p>";
            }

            $temp .="<p>付费：";
            foreach($value['pay'] as $k => $v){
                if($k == (count($value['pay'])-1)){
                    $temp.=$v;
                }
                else{
                    $temp.=$v." + ";
                }
            }

            $temp .= "</p>
            <p>停车场：".$value['name']."</p>
            <p>电话号码：".$value['telephone']."</p>";
            echo $temp;

            if($value['state'] < 3){
                $url = U("Home/Index/makeLeave/oid/".$value["id"]);
                echo '<a class="mui-btn mui-btn-danger" href="'.$url.'" style="float:right;">离场</a>';
            }

            echo "</li>";
            }
            ?>
        </ul>

    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function(){
            $('.sidebar').remove();

            $(".orderitem").hover(function() {$(this).addClass("gray")}, function() {$(this).removeClass("gray")});
        });
    </script>
</block>