<extend name="Public/base"/>

<block name="sidebar"></block>

<block name="style">
    <style>
        body{padding: 0}

        .parkitem{list-style:none;width:490px;padding:5px 0 5px 10px;}

        .gray {background:#ddd;}
    </style>
</block>

<block name="body">
    <!-- 主体 -->
    <div id="indexMain" class="index-main">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
               <form action="{:U('index')}" method="get">
                   <input type="search" name="searchpark" placeholder="搜索你的停车场" />

                   <table style="width: 100%;table-layout: fixed">
                       <tr>
                           <td><a class="mui-btn mui-btn-success" href="{:U('parkinfo')}">添加停车场</a></td>
                           <td style="width: 50%"><input type="submit" style="float: right" value="搜索" /></td>
                       </tr>
                   </table>
                </form>
            </li>

        <?php

            foreach ($parks_info as $key => $value) {
                echo "<li name='parkitem' class='mui-table-view-cell' alt='".U('parkinfo')."/parkid/".$value['id']."/' ><a class='mui-navigate-right'>";
                if(strpos($value['style'], 'ZDZJCR') || strpos($value['style'], 'BDWKF')){
                    echo "<p style='color:#ddd'>";
                }
                else{
                    echo "<p>";
                }

                echo $value['name'].tags($value)."<br>";
                echo "地址：".$value['address'];
                echo "</p></a></li>";

            }

            //生成Tags,并且根据情况标注颜色
            function tags($value){

                $temp = " ";
                $isAuto = false;
                if(strpos($value['style'], 'ZDZJCR')){
                    $temp.="[自动闸机]";
                    $isAuto = true;
                }

                if(strpos($value['style'], 'BDWKF')){
                    $temp.="[不对外开放]";
                    $isAuto = true;
                }

                $corArray = C('PARK_COR_STATE');
                switch($value['status'])
                {
                case $corArray['TOUCH']:
                    $temp.=" [在接触]";
                    break;
                case $corArray['PRETOUCH']:
                    $temp.=" [未接触]";
                    break;
                case $corArray['FIND']:
                    $temp.=" [找到决策人]";
                    break;
                case $corArray['TEST']:
                    $temp.=" [测试中]";
                    break;
                case $corArray['CORP']:
                    $temp.=" [已合作]";
                    break;
                default:
                    $temp.="";
                }

                if($value['lat'] == 0.0 || $value['lng'] == 0.0){
                    if($isAuto){
                        $temp.=" <span style='color: #dddddd'>[经纬度缺失]</span>";
                    }
                    else{
                        $temp.=" <span style='color: #ff0000'>[经纬度缺失]</span>";
                    }
                }

                return $temp;

            }
        ?>
        </ul>
       
    </div>
</block>

<block name="script">
<script type="text/javascript">
    $(function(){
        $('.sidebar').remove();
        $('[name=parkitem]').click(function(){
            var url= $(this).attr("alt");
            location.href = url;
        });

        $(".parkitem").hover(function() {$(this).addClass("gray")}, function() {$(this).removeClass("gray")});
    });
</script>
</block>