<extend name="Public/base"/>

<block name="sidebar"></block>

<block name="style">
    <style>
        body{padding: 0}
        .myborder{
            border: solid 1px #ccc;
            padding-bottom: 5px;
        }
    </style>
</block>

<block name="body">
    <!-- 主体 -->
    <div id="indexMain" class="index-main">
  	<table style="display: flex">
      <tr>
          <td><label for="parkname">停车场名称：</label></td>
          <td style="width: 100px"><input type="text" id="parkname" name="name" value="{$parkname}" /></td>
      </tr>
      <tr>
          <td>计费规则：</td>
          <td colspan="2">
              {$rules}
          </td>
      </tr>
    </table>
    <form action="{$formurl}" method="post" id="ruleform">
    <input type="hidden"  name="id" value="{$parkid}" /> 
    <input type="hidden" id="ruleid" name="ruleid" value="" /> 
    <input type="hidden" id="ruleop" name="ruleop" value="" /> 
		</form>
		<div>
    <table style="display: flex">
    	<tr><td width="300px"><b>计费规则库</b></td><td><b>时间/费用</b></td></tr>
    </table>
    <?php
	    foreach($rulesdata as $index => $value){
	    	echo '<table style="display: flex">
					      <tr>
					          <td width="300px" style="border:2px solid"><input type="hidden" class="ruleid" value="'.$value['id'].'" /> <button type="button" class="delrule">删除</button>&nbsp;<input type="text" class="starttime" name="starttime" value="'.$value['startime'].'" style="width:100px"/>到<input type="text" class="endtime" name="endtime" value="'.$value['endtime'].'" style="width:100px"/><br><input type="checkbox" class="stopatend"';
				if($value['stopatend']){
					echo ' checked="checked"';
				}
				echo	'/>规则截止时间<input type="text" class="stoptime" name="stoptime" value="'.$value['stoptime'].'" style="width:100px"/></td>
					          <td style="border:2px solid">
					          	<ul>';
				$con1 = "rulesid=".$value['id'];
				$moneydata = $rulesmoney->where($con1)->order('mins')->select();
				foreach($moneydata as $index1=>$value1){
					echo '<li><button type="button" class="delruletime">删除</button>&nbsp;小于等于<span class="rule1disp"><input type="text" class="rulemins" value="'.$value1['mins'].'" style="width:70px;"/>分钟</span>，费用为<input type="text" class="rulefee" value="'.$value1['money'].'" style="width:60px;"/>元</li>';
				}
				echo '</ul>
					          	<button type="button" class="addruletime">添加费用</button><button type="button" class="saverule">保存本条规则</button>
					          </td>
					      </tr>
					    </table>';
	    }
    ?>
  	</div>
		<button type="button" class="addrule">添加计费规则</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="testrule">测试计费规则</button>
    <div class="testdiv" style="display:none;margin-bottom: 200px;">
    停车开始(yyyy-mm-dd hh:mm:ss)：<input type="text" class="teststarttime" name="teststarttime" style="width:200px"/><br>
    停车结束(yyyy-mm-dd hh:mm:ss)：<input type="text" class="testendtime" name="testendtime" style="width:200px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="dotestrule">测试</button>
    <div class="testout"></div>
    </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">

    var now  = new Date();
    var timeConf = {
        language: 'zh-CN',
        autoclose: true,
        startView:1,
        hourStep: 1,
        minuteStep: 5,
        secondStep: 0,
        forceParse: false,
        format:"hh:ii:ss",
        startDate:now.getFullYear()+"-"+now.getMonth()+"-"+now.getDate(),
        bootcssVer:3
    };

    var datetimeConf ={
        language: 'zh-CN',
        todayBtn: true,
        autoclose: true,
        startView:2,
        hourStep: 1,
        minuteStep: 5,
        secondStep: 5,
        forceParse: false,
        format:"yyyy-mm-dd hh:ii:ss",
        bootcssVer:3
    };

	var newrule = 0;
	function delruletime(){
		$(this).parent().remove();
	}
	function delrule(){
		var ruleid = $(this).parent().find(".ruleid").val();
		if(ruleid == 0){
			$(this).parent().parent().parent().remove();
			newrule = 0;
		}else{
			$("#ruleid").val(ruleid);
			$("#ruleform").submit();
		}
	}
	function saverule(){
		var rulefield = $(this).parent().prev();
		var ruleid = rulefield.find(".ruleid").val();
		var starttime = rulefield.find(".starttime").val();
		var endtime = rulefield.find(".endtime").val();
		var stopatend = rulefield.find(".stopatend").is(':checked')?1:0;
		var stoptime = rulefield.find(".stoptime").val();
		var ruleop = starttime+";"+endtime+";"+stopatend+";"+stoptime;
		$(this).parent().find("li").each(function(li){
			//console.log($(this));
			ruleop+=";"+$(this).find(".rulemins").val()+","+$(this).find(".rulefee").val();
		});
		$("#ruleid").val(ruleid);
		$("#ruleop").val(ruleop);
		$("#ruleform").submit();
	}
	function addruletime(){
		var temp = '<li><button type="button" class="delruletime">删除</button>&nbsp;小于等于<span class="rule1disp"><input type="text" class="rulemins" value="1800" style="width:70px;"/>分钟</span>，费用为<input type="text" class="rulefee" value="10" style="width:60px;"/>元</li>';
    var row = $(temp);
    row.find('.delruletime').click(delruletime);
    
    $(this).prev().append(row);
	}
	function addrule(){
		if(newrule == 1){
			alert("请先保存之前创建的新规则！");
			return;
		}
		else{
			newrule = 1;
		}
		var temp = '<table style="display: flex"><tr><td width="300px" style="border:2px solid"><input type="hidden" class="ruleid" value="0" /> <button type="button" class="delrule">删除</button>&nbsp;<input type="text" class="starttime" name="starttime" value="00:00:00" style="width:100px"/>到<input type="text" class="endtime" name="endtime" value="23:59:59" style="width:100px"/><br><input type="checkbox" class="stopatend"/>规则截止时间<input type="text" class="stoptime" name="stoptime" value="00:00:00" style="width:100px"/></td><td style="border:2px solid"><ul><li><button type="button" class="delruletime">删除</button>&nbsp;小于等于<span class="rule1disp"><input type="text" class="rulemins" value="1800" style="width:70px;"/>分钟</span>，费用为<input type="text" class="rulefee" value="10" style="width:60px;"/>元</li></ul><button type="button" class="addruletime">添加费用</button><button type="button" class="saverule">保存本条规则</button></td></tr></table>';
    var row = $(temp);
    row.find('.addruletime').click(addruletime);
    row.find('.delruletime').click(delruletime);
    row.find('.delrule').click(delrule);
    row.find('.saverule').click(saverule);
        row.find('.starttime').datetimepicker(timeConf);
        row.find('.endtime').datetimepicker(timeConf);
        row.find('.stoptime').datetimepicker(timeConf);

    $(this).prev().append(row);
	}
	function testrule(){
		$('.testdiv').toggle();
	}
	function dotestrule(){
		if(newrule == 1){
			alert("请先保存之前创建的新规则！");
			return;
		}
		var testblock = $('.testdiv');
		var starttime = testblock.find(".teststarttime").val();
		var endtime = testblock.find(".testendtime").val();
		var myurl = 'http://driver.duduche.me/driver.php/home/public/parkingFeeTest/parkid/'+"{$parkid}"+'/starttime/'+starttime+'/endtime/'+endtime+'/isdebug/0/';
		$.ajax({
                    url:myurl,
                    type:'get',
                    dataType: 'JSONP',
                    async : false,
                    error:function(data){
                        alert('ajax error:'+myurl);
                    },
                    success:function(data){
                        console.log(data);
                        $('.testout').html('RMB:'+data.data.fee);
                    }
                });
	}
	
    $(function(){
        $('.sidebar').remove();
        
        $('.addruletime').click(addruletime);
        $('.delruletime').click(delruletime);
        $('.delrule').click(delrule);
       	$('.saverule').click(saverule);
        $('.addrule').click(addrule);
        $('.testrule').click(testrule);
        $('.dotestrule').click(dotestrule);
        $('.starttime').datetimepicker(timeConf);
        $('.endtime').datetimepicker(timeConf);
        $('.stoptime').datetimepicker(timeConf);
        $('.teststarttime').datetimepicker(datetimeConf);
        $('.testendtime').datetimepicker(datetimeConf);
    })
</script>
</block>